{
    "openapi": "3.1.0",
    "info": {
        "title": "Aurelio API",
        "description": "The Aurelio API. Please see https://platform.aurelio.ai for more details.",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://api.aurelio.ai"
        }
    ],
    "paths": {
        "/v1/chunk": {
            "post": {
                "tags": [
                    "Chunk"
                ],
                "summary": "Chunk a document.",
                "description": "Chunk a document.",
                "operationId": "chunk_document_v1_chunk_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChunkRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChunkResponsePayload"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/extract/file": {
            "post": {
                "tags": [
                    "Extract"
                ],
                "summary": "Process a document from uploaded file.",
                "description": "Process a document file.",
                "operationId": "process_document_file_v1_extract_file_post",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_process_document_file_v1_extract_file_post"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtractResponsePayload"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/extract/url": {
            "post": {
                "tags": [
                    "Extract"
                ],
                "summary": "Process a document from a URL.",
                "description": "Process a file from a URL.",
                "operationId": "process_url_v1_extract_url_post",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_process_url_v1_extract_url_post"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtractResponsePayload"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/extract/document/{document_id}": {
            "get": {
                "tags": [
                    "Extract"
                ],
                "summary": "Get a document.",
                "description": "Get a document.",
                "operationId": "get_document_v1_extract_document__document_id__get",
                "parameters": [
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Document Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtractResponsePayload"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingest/{url}": {
            "get": {
                "tags": [
                    "Ingest"
                ],
                "summary": "Trigger processing of a document from a URL.",
                "operationId": "trigger_process_url_ingest__url__get",
                "parameters": [
                    {
                        "name": "url",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Url"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Body_process_document_file_v1_extract_file_post": {
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary",
                        "title": "File",
                        "description": "The file to extract text from."
                    },
                    "quality": {
                        "$ref": "#/components/schemas/ProcessingQuality",
                        "description": "Processing quality of the document. High quality will result in longer processing time."
                    },
                    "chunk": {
                        "type": "boolean",
                        "title": "Chunk",
                        "description": "Whether the document should be chunked"
                    },
                    "timeout": {
                        "type": "integer",
                        "title": "Timeout",
                        "description": "The timeout to keep open the connection to the client in seconds, defaults to `30` seconds, `-1` means no timeout. After the timeout, the result can be retrieved from the `/extract/<document_id>` endpoint.",
                        "default": 30
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "quality",
                    "chunk"
                ],
                "title": "Body_process_document_file_v1_extract_file_post"
            },
            "Body_process_file_v1_ingest_document_post": {
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary",
                        "title": "File",
                        "description": "The file to ingest."
                    }
                },
                "type": "object",
                "required": [
                    "file"
                ],
                "title": "Body_process_file_v1_ingest_document_post"
            },
            "Body_process_url_v1_extract_url_post": {
                "properties": {
                    "url": {
                        "type": "string",
                        "title": "Url",
                        "description": "The URL of the document file."
                    },
                    "quality": {
                        "$ref": "#/components/schemas/ProcessingQuality",
                        "description": "Processing quality of the document. High quality will result in longer processing time."
                    },
                    "chunk": {
                        "type": "boolean",
                        "title": "Chunk",
                        "description": "Whether the document should be chunked"
                    },
                    "timeout": {
                        "type": "integer",
                        "title": "Timeout",
                        "description": "The timeout to keep open the connection to the client in seconds, defaults to `30` seconds, `-1` means no timeout. After the timeout, the result can be retrieved from the `/extract/<document_id>` endpoint.",
                        "default": 30
                    }
                },
                "type": "object",
                "required": [
                    "url",
                    "quality",
                    "chunk"
                ],
                "title": "Body_process_url_v1_extract_url_post"
            },
            "Body_process_url_v1_ingest_url_post": {
                "properties": {
                    "url": {
                        "type": "string",
                        "title": "Url",
                        "description": "The URLs of the document files."
                    }
                },
                "type": "object",
                "required": [
                    "url"
                ],
                "title": "Body_process_url_v1_ingest_url_post"
            },
            "ChunkRequestPayload": {
                "properties": {
                    "content": {
                        "type": "string",
                        "title": "Content",
                        "description": "Input text to chunk."
                    },
                    "processing_options": {
                        "$ref": "#/components/schemas/ChunkingOptions",
                        "description": "The processing options for the chunker",
                        "default": {
                            "max_chunk_length": 400,
                            "chunker_type": "regex",
                            "window_size": 1,
                            "delimiters": []
                        }
                    }
                },
                "type": "object",
                "required": [
                    "content"
                ],
                "title": "ChunkRequestPayload"
            },
            "ChunkResponsePayload": {
                "properties": {
                    "status": {
                        "$ref": "#/components/schemas/TaskStatus",
                        "description": "The status of the chunking process"
                    },
                    "usage": {
                        "$ref": "#/components/schemas/Usage",
                        "description": "Usage"
                    },
                    "message": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Message",
                        "description": "Message"
                    },
                    "processing_options": {
                        "$ref": "#/components/schemas/ChunkingOptions",
                        "description": "The processing options for the chunker"
                    },
                    "document": {
                        "$ref": "#/components/schemas/src__schemas__schema__ResponseDocument"
                    }
                },
                "type": "object",
                "required": [
                    "status",
                    "usage",
                    "processing_options",
                    "document"
                ],
                "title": "ChunkResponsePayload",
                "description": "Extended response payload for chunking"
            },
            "ChunkerType": {
                "type": "string",
                "enum": [
                    "semantic",
                    "regex"
                ],
                "title": "ChunkerType"
            },
            "ChunkingOptions": {
                "properties": {
                    "max_chunk_length": {
                        "type": "integer",
                        "title": "Max Chunk Length",
                        "description": "The maximum chunk length for the chunker",
                        "default": 400
                    },
                    "chunker_type": {
                        "$ref": "#/components/schemas/ChunkerType",
                        "description": "The chunker type, either semantic or regex",
                        "default": "regex"
                    },
                    "window_size": {
                        "type": "integer",
                        "title": "Window Size",
                        "description": "The window size for the semantic chunker",
                        "default": 1
                    },
                    "delimiters": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Delimiters",
                        "description": "Optional. The regex delimiters for the regex chunker",
                        "default": []
                    }
                },
                "type": "object",
                "title": "ChunkingOptions"
            },
            "ExtractProcessingOptions": {
                "properties": {
                    "chunk": {
                        "type": "boolean",
                        "title": "Chunk",
                        "description": "Whether the document should be chunked into smaller pieces."
                    },
                    "quality": {
                        "$ref": "#/components/schemas/ProcessingQuality",
                        "description": "Processing quality of the document. High quality will result in longer processing time."
                    }
                },
                "type": "object",
                "required": [
                    "chunk",
                    "quality"
                ],
                "title": "ExtractProcessingOptions",
                "description": "Processing options for document processing"
            },
            "ExtractResponsePayload": {
                "properties": {
                    "status": {
                        "$ref": "#/components/schemas/TaskStatus",
                        "description": "The status of the chunking process"
                    },
                    "usage": {
                        "$ref": "#/components/schemas/Usage",
                        "description": "Usage"
                    },
                    "message": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Message",
                        "description": "Message"
                    },
                    "processing_options": {
                        "$ref": "#/components/schemas/ExtractProcessingOptions",
                        "description": "The processing options for the document processor"
                    },
                    "document": {
                        "$ref": "#/components/schemas/src__schemas__schema__ResponseDocument"
                    }
                },
                "type": "object",
                "required": [
                    "status",
                    "usage",
                    "processing_options",
                    "document"
                ],
                "title": "ExtractResponsePayload",
                "description": "Extended response payload for document processing"
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "ProcessingOptions": {
                "properties": {
                    "chunk": {
                        "type": "boolean",
                        "title": "Chunk",
                        "description": "Whether the document should be chunked into smaller pieces."
                    },
                    "quality": {
                        "type": "string",
                        "enum": [
                            "high",
                            "low"
                        ],
                        "title": "Quality",
                        "description": "Processing quality of the document. High quality will result in longer processing time."
                    }
                },
                "type": "object",
                "required": [
                    "chunk",
                    "quality"
                ],
                "title": "ProcessingOptions"
            },
            "ProcessingQuality": {
                "type": "string",
                "enum": [
                    "low",
                    "high"
                ],
                "title": "ProcessingQuality"
            },
            "ResponseData": {
                "properties": {
                    "processing_options": {
                        "$ref": "#/components/schemas/ProcessingOptions",
                        "description": "Processing options"
                    },
                    "document": {
                        "$ref": "#/components/schemas/src__schemas__ingest_deprecated__ResponseDocument",
                        "description": "Processed document",
                        "default": {
                            "id": "",
                            "content": "",
                            "source": "",
                            "source_type": "",
                            "token_count": 0,
                            "total_chunks": 0,
                            "metadata": {}
                        }
                    },
                    "chunks": {
                        "items": {
                            "$ref": "#/components/schemas/src__schemas__ingest_deprecated__ResponseChunk"
                        },
                        "type": "array",
                        "title": "Chunks",
                        "description": "Processed chunks",
                        "default": []
                    }
                },
                "type": "object",
                "required": [
                    "processing_options"
                ],
                "title": "ResponseData"
            },
            "ResponsePayload": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "title": "Success",
                        "description": "Whether the request was successful"
                    },
                    "message": {
                        "type": "string",
                        "title": "Message",
                        "description": "Message to the user",
                        "default": ""
                    },
                    "data": {
                        "$ref": "#/components/schemas/ResponseData",
                        "description": "Response data"
                    }
                },
                "type": "object",
                "required": [
                    "success",
                    "data"
                ],
                "title": "ResponsePayload"
            },
            "SourceType": {
                "type": "string",
                "enum": [
                    "application/pdf",
                    "text/plain",
                    "video/mp4"
                ],
                "title": "SourceType"
            },
            "TaskStatus": {
                "type": "string",
                "enum": [
                    "pending",
                    "completed",
                    "failed"
                ],
                "title": "TaskStatus"
            },
            "Usage": {
                "properties": {
                    "tokens": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tokens"
                    },
                    "pages": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Pages"
                    },
                    "seconds": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Seconds"
                    }
                },
                "type": "object",
                "title": "Usage"
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            },
            "src__schemas__ingest_deprecated__ResponseChunk": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id",
                        "description": "ID of the chunk",
                        "default": ""
                    },
                    "document_id": {
                        "type": "string",
                        "title": "Document Id",
                        "description": "ID of the document",
                        "default": ""
                    },
                    "content": {
                        "type": "string",
                        "title": "Content",
                        "description": "Content of the chunk",
                        "default": ""
                    },
                    "source": {
                        "type": "string",
                        "title": "Source",
                        "description": "Source of the document, URL or filename",
                        "default": ""
                    },
                    "source_type": {
                        "type": "string",
                        "title": "Source Type",
                        "description": "Type of the document e.g. application/mp4, application/pdf",
                        "default": ""
                    },
                    "chunk_index": {
                        "type": "integer",
                        "title": "Chunk Index",
                        "description": "Index of the chunk in the document",
                        "default": 0
                    },
                    "token_count": {
                        "type": "integer",
                        "title": "Token Count",
                        "description": "Number of tokens in the chunk",
                        "default": 0
                    },
                    "metadata": {
                        "type": "object",
                        "title": "Metadata",
                        "description": "Metadata of the chunk",
                        "default": {}
                    }
                },
                "type": "object",
                "title": "ResponseChunk"
            },
            "src__schemas__ingest_deprecated__ResponseDocument": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id",
                        "description": "ID of the document",
                        "default": ""
                    },
                    "content": {
                        "type": "string",
                        "title": "Content",
                        "description": "Content of the document",
                        "default": ""
                    },
                    "source": {
                        "type": "string",
                        "title": "Source",
                        "description": "Source of the document",
                        "default": ""
                    },
                    "source_type": {
                        "type": "string",
                        "title": "Source Type",
                        "description": "Type of the document e.g. application/mp4, application/pdf",
                        "default": ""
                    },
                    "token_count": {
                        "type": "integer",
                        "title": "Token Count",
                        "description": "Number of tokens in the document",
                        "default": 0
                    },
                    "total_chunks": {
                        "type": "integer",
                        "title": "Total Chunks",
                        "description": "Total number of chunks in the document",
                        "default": 0
                    },
                    "metadata": {
                        "type": "object",
                        "title": "Metadata",
                        "description": "Metadata of the document",
                        "default": {}
                    }
                },
                "type": "object",
                "title": "ResponseDocument"
            },
            "src__schemas__schema__ResponseChunk": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id",
                        "description": "ID of the chunk"
                    },
                    "content": {
                        "type": "string",
                        "title": "Content",
                        "description": "Content of the chunk"
                    },
                    "chunk_index": {
                        "type": "integer",
                        "title": "Chunk Index",
                        "description": "Index of the chunk in the document"
                    },
                    "num_tokens": {
                        "type": "integer",
                        "title": "Num Tokens",
                        "description": "Number of tokens in the chunk"
                    },
                    "metadata": {
                        "type": "object",
                        "title": "Metadata",
                        "description": "Metadata of the chunk",
                        "default": {}
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "content",
                    "chunk_index",
                    "num_tokens"
                ],
                "title": "ResponseChunk"
            },
            "src__schemas__schema__ResponseDocument": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id",
                        "description": "ID of the document"
                    },
                    "content": {
                        "type": "string",
                        "title": "Content",
                        "description": "Content of the document"
                    },
                    "source": {
                        "type": "string",
                        "title": "Source",
                        "description": "Source of the document"
                    },
                    "source_type": {
                        "$ref": "#/components/schemas/SourceType",
                        "description": "Type of the document e.g. video/mp4, application/pdf"
                    },
                    "num_chunks": {
                        "type": "integer",
                        "title": "Num Chunks",
                        "description": "Total number of chunks in the document"
                    },
                    "metadata": {
                        "type": "object",
                        "title": "Metadata",
                        "description": "Metadata for users",
                        "default": {}
                    },
                    "chunks": {
                        "items": {
                            "$ref": "#/components/schemas/src__schemas__schema__ResponseChunk"
                        },
                        "type": "array",
                        "title": "Chunks",
                        "description": "Chunks of the document",
                        "default": []
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "content",
                    "source",
                    "source_type",
                    "num_chunks"
                ],
                "title": "ResponseDocument"
            }
        }
    }
}